doctype
html
  head
    meta(charset='UTF-8')
    title= title
    link(rel='stylesheet' href='/main.css')
  body
    .container
      div
        h1 아이디 로그인 구현
      .profile-wrap
        .profile
          if user && user.id
            .user-name= '안녕하세요! ' + user.nick + '님'
            a#logout.btn(href='/auth/logout') 로그아웃
          else
            form#login-form(action='/auth/login' method='post')
              .input-group
                label(for='nick') 아이디
                input#email(type='text' name='nick' required autofocus)
              .input-group
                label(for='password') 비밀번호
                input#password(type='password' name='password' required)
              if loginError
                .error-message= loginError
              a#join.btn(href='/join') 회원가입
              button#login.btn(type='submit') 로그인
        .timeline
          if user
            div
              form#twit-form(action='/post' method='post')
                .input-group
                  textarea#twit(name='content' maxlength=140)
                div
                  button#twit-btn.btn(type='submit') 확인
              .twits
          for twit in twits
            .twit
              input.twit-user-id(type='hidden' value=twit.user.id)
              .twit-author= twit.user.nick
              .twit-content= twit.content
              if user && user.id === twit.user.id
                button.delete 게시글 삭제